.page-header {
	@media @xs-breakpoint {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.single & {
		@media @xs-breakpoint {
			display: block;
		}
	}
}

.entry-meta {
	font-style: italic;
	margin-bottom: 24px;

	span {
		display: inline-block;
		margin-right: 5px;
	}
}