body {
	font-size: 16px;
}

figure {
	margin-bottom: 10px;
}

.video-container {
	height: 0;
	margin-bottom: 30px;
	overflow: hidden;
	padding-bottom: 56.25%;
	padding-top: 35px;
	position: relative;

	iframe,
	object,
	embed {
		height: 100%;
		left: 0;
		position: absolute;
		top:0;
		width: 100%;
	}
}
