/**
 * special grid just for the staff pics
 */
.row {
	.page-template-gallery &,
	.page-template-staff & {
		display: flex;
		flex-wrap: wrap;
	}
}
.col {
	&-special {
		&-3,
		&-4,
		&-6 {
			position: relative;
			padding: 0 15px;
			min-height: 1px;
		}

		&-3 {
			@media @xxs-breakpoint {
				width: 50%;
				float: left;
			}
			@media @sm-breakpoint {
				width: calc( 100%/3 );
			}
			@media @md-breakpoint {
				width: 25%;
			}
		}
		&-4 {
			@media @xxs-breakpoint {
				width: 50%;
				float: left;
			}
			@media @sm-breakpoint {
				width: calc( 100%/3 );
			}
		}
		&-6 {
			@media @xxs-breakpoint {
				width: 50%;
				float: left;
			}

		}
	}
}
