.newsbanner {
	text-align: center;
	padding: 15px 0;
	background-color: @blue;
	color: @white;
	font-size: 18px;

	a {
		color: @white;
		text-decoration: underline;
	}
}

.site-header {
	&__top {
		display: none;

		@media @sm-breakpoint {
			display: flex;
			align-items: center;
			justify-content: space-between;
			margin: 15px 0;
		}
	}
}

.navbar {
	margin-bottom: 0;

	&-default {
		background-image: none;

		.navbar-nav {
			& > li {
				&.current-menu-item {
					a {
						color: @white;
						background-color: @blue;
					}
				}
			}
		}
	}
	&-brand {
		padding: 5px 15px;

		@media @sm-breakpoint {
			display: none;
		}

		img {
			display: inline;
			padding-right: 10px;
		}

		&-short {
			@media @xs-breakpoint {
				display: none;
			}
		}
		&-long {
			display: none;

			@media @xs-breakpoint {
				display: inline;
			}
		}
	}
	&-search {
		#navbar & {
			display: block;

			@media @sm-breakpoint {
				display: none;
			}
		}

	}
	&-collapse {
		.container > & {
			margin: 0 -15px;
		}
	}


}

.dropdown-menu {
	padding: 0;

	& > li {
		& > a {
			// padding: 10px 15px;

			@media @sm-breakpoint {
				padding: 14px 15px;
			}

			.navbar-nav .open & {
				padding: 10px 15px 10px 25px
			}
		}

		&.current-menu-item {
			a {
				color: @white;
				background-color: @blue;

				&:hover {
					background-color: @blue;
					background-image: none;
				}
			}
		}
	}

}

.jumbotron {
	padding: 0;
}