.media {
	&-left,
	&-right,
	&-body {
		display: block;

		@media @xs-breakpoint {
			display: table-cell;
		}

	}
	&-left,
	& > .pull-left {
		padding: 0 0 10px;

		@media @xs-breakpoint {
			padding: 0 10px 0;
		}
	}
	&-body {
		width: auto;

		@media @xs-breakpoint {
			width: 10000px;
		}
	}
}
