.owl {
	&-nav-custom {
		text-align: center;
		margin-bottom: 15px;

		[class*="owl-"] {
			color: @white;
			font-size: 14px;
			margin: 5px;
			padding: 4px 7px;
			background: @blue;
			display: inline-block;
			cursor: pointer;
			border-radius: 3px;
		}
	}

	&-carousel {
		.owl-item {
			img {
				width: auto;
				// max-width: 100%;
				// height: auto;
			}
		}

		.gallery {
			&-item {
				display: table;
				margin: auto;
			}
			&-caption {
				display: table-caption;
				caption-side: bottom;
			}
		}
	}

	&-theme .owl-dots .owl-dot.active span,
	&-theme .owl-dots .owl-dot:hover span {
		background-color: @blue;
	}
}

