.post-navigation,
.posts-navigation {
	clear: both;
	overflow: hidden;

	.nav {
		&-links {
			margin: 20px 0;
			text-align: center;

			div > a {
				display: inline-block;
				padding: 5px 14px;
				background-color: @white;
				border: 1px solid #ddd;
				border-radius: 15px;
			}
		}
		&-previous {
			display: inline;

			& > a {
				float: left;
			}
		}
		&-next {
			display: inline;

			& > a {
				float: right;
			}
		}

	}
}