.panel {
	&-default {
		& > .panel-heading {
			background-image: none;
			color: @white;
			background-color: @blue;
		}
	}
	&-heading {
		padding: 0;
	}
	&-title {
		& > a {
			padding: 10px 15px;
			display: block;
		}
		.glyphicon {
			float: right;
		}
	}
}