// Colors
// ---------------------------------
@white: #fff;
@black: #000;
@blue: #195aa5;
@dk-blue: #0F3765;
@gray: #333;
// @lt-blue: #1B61B2;


// Font Variables
// ---------------------------------
// @droidsans: 'Droid Sans', sans-serif;


// Miscellaneous
// ---------------------------------
@transition: all .25s ease;


// Media Queries
@screen-xxs-min: 480px;
@screen-xs-min: 640px;
@screen-sm-min: 768px;
@screen-md-min: 992px;
@screen-lg-min: 1200px;

@xxs-breakpoint: ~"screen and (min-width:@{screen-xxs-min})";
@xs-breakpoint: ~"screen and (min-width:@{screen-xs-min})";
@sm-breakpoint: ~"screen and (min-width:@{screen-sm-min})";
@md-breakpoint: ~"screen and (min-width:@{screen-md-min})";
@lg-breakpoint: ~"screen and (min-width:@{screen-lg-min})";